<mat-card class="mat-elevation-z6">
    <mat-card-header>
        <mat-card-title>{{ listing.title }}</mat-card-title>
        <mat-card-subtitle>{{ listing.filename }}</mat-card-subtitle>
    </mat-card-header>
    <div>
        <stl-model-viewer [meshOptions]=meshOptions [stlModels]=listing.models [material]=material>
        </stl-model-viewer>
    </div>
    <mat-card-content>
        <p>
            {{ listing.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary">Download</button>
        <button mat-raised-button color="primary">Share</button>
    </mat-card-actions>
</mat-card>