@import "../../theme.scss";

.login-header {
    font-weight: 600;
    color: $indigo;
}

.login-form {
    width: 100%;
}

.login-card-content {
    margin-top: -100px;
    width: 100%;
}

.login-forgot-button {
    width: 60%;
    color: $indigo;
    font-weight: 600;
}

.login-button {
    width: 60%;
    font-weight: 600;
    width: 60
}

.login-auth-errortext {
    color: $error-red;
}