@import '../theme.scss';

.app-header {
    background-color: white;
    position: sticky;
    height: 100px;
}

.app-content {
    padding: 16px;
}

.app-content > mat-card {
    width: 200px;
}

.app-logo {
  color: $indigo;
  font-size: 2rem;
  font-weight: 700;
}

.app-button {
  font-size: 1rem;
}

.app-register-button {
  border-color: $indigo !important;
  font-weight: 600;
}

.app-search {
    width: 100%;
}
