<mat-dialog-content fxLayout="column" fxLayoutAlign="center center">
    <h2 class="register-header mat-h2">Sign Up</h2>
    <form [formGroup]="registerForm" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field class="register-form" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-error *ngIf="
                registerForm.get('email').hasError('email')
                &&!registerForm.get('email').hasError('required')">
                <mat-icon>error</mat-icon> Invalid email address
            </mat-error>
            <mat-error *ngIf="
                registerForm.get('email').hasError('required')">
                <mat-icon>error</mat-icon> Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="register-form" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error *ngIf="
                registerForm.get('password').hasError('required')">
                <mat-icon>error</mat-icon> Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
    <ng-container *ngIf="errorMsg">
        <p class="register-auth-errortext">
            <mat-icon>error</mat-icon> {{ errorMsg }}
        </p>
    </ng-container>
    <button mat-flat-button [disabled]="!this.registerForm.valid" class="register-button" color="primary"
        (click)="register()">Register&nbsp;&nbsp;&nbsp;&nbsp;<mat-icon>arrow_right_alt</mat-icon></button>
</mat-dialog-content>